<div style="margin-top: 100px;"></div>

<div class="container">
    <div class="image-gallery">
        <div class="main-image">
            <img src={{_Product.image}} alt="Thumbnail 1">
        </div>
  
    </div>
    <div class="product-info">
        <h1>{{_Product.title}}</h1>
        <p class="price">{{_Product.price}}$</p>
 
        <p class="payment-plan" style="font-weight: 600;">Or in 12 installments of {{_cuotas}}<sup>67</sup> </p>

        <p class="payment-plan">{{_Product.description}}</p>
        <!-- <p class="seller-info">Vendido por QUTRAL CALEFACTORES - FABRICA</p> -->

        <button class="buy-now">buy</button>
    </div>
</div>
