<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" data-bs-theme="dark" >
    <div class="container-fluid">
      <a class="navbar-brand" >Angular Example-Ecommerce </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" >
            <a class="nav-link active" aria-current="page" routerLink="" >Home</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" [routerLink]="['/categories','electronics']" >Electronics</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" [routerLink]="['/categories','jewelery']" >Jewelery</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" [routerLink]="['/categories','men\'s clothing']">Men</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link"  [routerLink]="['/categories','women\'s clothing']"  >Women</a>
          </li>
    

        </ul>
        <form class="d-flex" role="search">
          <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
          <a class="nav-link"  [routerLink]="['/Login']"  >
            <button class="btn btn-sm btn-outline-primary" type="button" style="min-width: 120px; padding: 5px;">
              Login
            </button>
          </a>
        </form>
      </div>
    </div>
</nav>


<router-outlet />


<footer class="bg-dark text-white pt-4">
  <div class="container">
    <div class="row">
      <!-- Enlaces rápidos -->
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a  [routerLink]="['/']"  class="text-white">Home</a></li>
          <li><a  [routerLink]="['/Login']"  class="text-white">Contact</a></li>
        </ul>
      </div>

      <!-- Información de contacto -->
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <p>
 
          Phone: (2364) 556775<br>
          <!-- Email: alejandromocse01@gmail.com -->
        </p>
      </div>

      <!-- Redes sociales -->
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <!-- <a href="#" class="text-white me-3"><i class="fab fa-facebook-f">Facebook</i></a>
        <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i>Twitter</a> -->
        <a href="https://github.com/alej-mocse1" class="text-white me-3">Git-Hub</a>
        <a href="https://www.linkedin.com/in/alejandro-mocse-1329b8251/" class="text-white">LinkedIn</a>
      </div>
    </div>

    <hr class="my-4">

    <!-- Derechos de autor -->
    <div class="text-center pb-3">
      <p class="mb-0">&copy; Alejandro Mocse. All Rights Reserved.</p>
    </div>
  </div>
</footer>
